---
import { Image } from "astro:assets";
import Main from "../layouts/main.astro";

const content = {
	title: "EpubKit",
};

const version = "1.2.3"

const downloads = {
	mac: {
		arm64:
			`https://release.randynamic.org/djyde/epubkit-release/releases/download/v${version}/epubkit-${version}-arm64.dmg`,
		x64: `https://release.randynamic.org/djyde/epubkit-release/releases/download/v${version}/epubkit-${version}-x64.dmg`,
	},
	windows:
		`https://release.randynamic.org/djyde/epubkit-release/releases/download/v${version}/epubkit-${version}-setup.exe`,
};
---

<Main content={content}>
  <dialog id="download_modal" class="fixed inset-0">
    <div class="bg-black/20 fixed inset-0 -z-10"></div>
    <div class="w-[300px] sm:w-[400px] z-99 bg-white rounded-lg">
      <div class="flex justify-between border-b px-6 py-3 items-center">
        <div class="font-bold b">Download</div>
        <div>
          <button
            aria-label="close"
            class="font-bold text-black/60"
            onclick="document.getElementById('download_modal').close()"
            >X</button
          >
        </div>
      </div>
      <div class="px-6 py-8">
        <ul class="list-disc mx-4 text-black/80 space-y-2">
          <li>
            <a class="underline" href={downloads.mac.arm64}>macOS (ARM64)</a>
          </li>
          <li>
            <a class="underline" href={downloads.mac.x64}>macOS (Intel)</a>
          </li>
          <li>
            <a class="underline" href={downloads.windows}> Windows (Beta) </a>
          </li>
        </ul>
      </div>
    </div>
  </dialog>
  <section class="p-6 md:p-24 max-w-[1200px] mx-auto">
    <div class="flex flex-col gap-12">
      <Image width="128" height="128" src="/icon.png" alt="EpubKit" />
      <div class="text-5xl font-black">
        <p>The best tool to</p>
        <p>
          convert
          <span class="text-green-700">web pages to ebook</span>.
        </p>
      </div>

      <div class="flex items-center gap-6">
        <button
          class="bg-black/80 inline-block text-center text-white/90 px-6 py-3 font-medium rounded-xl"
          onclick="document.getElementById('download_modal').showModal()"
        >
          <div class="text-md">Download <strong>EpubKit</strong></div>
        </button>

        <div class="flex gap-3 items-center">
          <div>
            <a
              href="https://chromewebstore.google.com/detail/epubkit-connect/kolfkabggcnighackpbmmdolojkffapk"
              target="_blank"
            >
              <img
                src="/images/chrome.png"
                class="w-[40px]"
                title="Chrome Extension"
                alt="chrome extension"
              /></a
            >
          </div>
          <div>
            <a
              href="https://addons.mozilla.org/en-US/firefox/addon/epubkit-connect/"
              target="_blank"
            >
              <img
                src="/images/firefox.png"
                class="w-[40px]"
                title="Firefox Addon"
                alt="firefox extension"
              /></a
            >
          </div>

          <div>
            <a
              href="https://chromewebstore.google.com/detail/epubkit-connect/kolfkabggcnighackpbmmdolojkffapk"
              target="_blank"
            >
              <img
                src="/images/edge.png"
                class="w-[32px]"
                title="Edge Addon"
                alt="Edge Addon"
              /></a
            >
          </div>
        </div>
      </div>

      <div>
        <img class="rounded-xl border-4 border-black/70" src="/intro.png" />
      </div>

      <h3 class="font-black text-center text-4xl mt-12">Features</h3>

      <div class="bg-white rounded-lg p-8">
        <video
          class="rounded-lg"
          playsinline
          autoplay
          loop
          muted
          preload="auto"
          src="/videos/multi-page.mp4"></video>
      </div>

      <div class="grid lg:grid-cols-3 gap-6">
        <div class="bg-white rounded-lg p-8">
          <div class="text-4xl mb-2">🔓</div>
          <h3 class="font-bold mb-2">Privacy first</h3>
          <p class="text-black/60">
            All your data processed locally. We'd never upload your content to
            any server.
          </p>
        </div>

        <div class="bg-white rounded-lg p-8">
          <div class="text-4xl mb-2">⚡</div>
          <h3 class="font-bold mb-2">Full load</h3>
          <p class="text-black/60">
            Import any web page, whether it is a dynamic web page or a web page
            that requires login.
          </p>
        </div>
        
        <div class="bg-white rounded-lg p-8">
          <div class="text-4xl mb-2">🛜</div>
          <h3 class="font-bold mb-2">RSS</h3>
          <p class="text-black/60">
            Import articles from  RSS. Even if some RSS feeds don't provide full-text output, EpubKit can still save the full text.
          </p>
        </div>

        <div class="bg-white rounded-lg p-8">
          <div class="text-4xl mb-2">📑</div>
          <h3 class="font-bold mb-2">Import sub-pages</h3>
          <p class="text-black/60">One click import all sub pages of a page</p>
        </div>

        <div class="bg-white rounded-lg p-8">
          <div class="text-4xl mb-2">🔗</div>
          <h3 class="font-bold mb-2">Connect</h3>
          <p class="text-black/60">
            <strong>EpubKit Connect</strong> feature allows you to save web page
            through HTTP API and browser extension.
          </p>
          <p class="mt-3">
            See <a class="underline text-sm" target="_blank" href="/doc/connect"
              >API document</a
            >
          </p>
        </div>
      </div>

      <h3 class="font-black text-center text-4xl mt-12">Pricing</h3>
      <div class="text-center">
        <a
          class="text-green-600 text-xl"
          target="_blank"
          href="https://randynamic-studio.lemonsqueezy.com/buy/4481bfe1-eded-4bcd-a182-418e733871b9"
          >Buy License →</a
        >
      </div>
      <div class="grid lg:grid-cols-3 gap-6">
        <div class="bg-white rounded-lg p-8">
          <div class="text-4xl mb-2 font-bold">Free</div>
          <h3 class="text-black/60 mb-4 font-bold">Good for starter</h3>
          <ul class="list-disc mx-4 text-black/60">
            <li>Up to 10 chapters per ebook</li>
            <li>Customize book cover</li>
          </ul>
        </div>

        <div class="bg-white rounded-lg p-8">
          <div class="text-4xl mb-2 font-bold">$12</div>
          <h3 class="text-black/60 mb-4 font-bold">One-time payment</h3>
          <ul class="list-disc mx-4 text-black/60">
            <li><strong>Unlimited</strong> chapters per ebook</li>
            <li>Customize book cover</li>
            <li>1 year upgrade support</li>
            <li>1 device</li>
          </ul>
        </div>

        <div class="bg-white rounded-lg p-8">
          <div class="text-4xl mb-2 font-bold">$29</div>
          <h3 class="text-black/60 mb-4 font-bold">One-time payment</h3>
          <ul class="list-disc mx-4 text-black/60">
            <li><strong>Unlimited</strong> chapter per ebook</li>
            <li>Customize book cover</li>
            <li><strong>Life time</strong> support</li>
            <li>2 device</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <footer class="p-6 md:p-24 max-w-[1200px] mx-auto text-black/60">
    <div class="mb-6">
      <strong>EpubKit</strong>
    </div>
    <div class="grid md:grid-cols-3">
      <div class="space-y-3">
        <div>
          <a class="" target="_blank" href="https://randynamic.org"
            >Randynamic Studio</a
          >
        </div>
        <div>
          <a target="_blank" href="https://twitter.com/epubkitapp">Twitter</a>
        </div>
        <div>
          <a target="_blank" href="https://tally.so/r/3jBb56">Feedback</a>
        </div>
        <div>
          <a target="_blank" href="https://t.me/+DBzD7rAdsUI0OWQ1"
            >Telegram Group</a
          >
        </div>
      </div>

      <div class="space-y-3">
        <div>
          <a class="" target="_blank" href="/doc/connect">EpubKit Connect</a>
        </div>
        <div>
          <a class="" target="_blank" href="/doc/connect">Edge Extension</a>
        </div>
        <div>
          <a class="" target="_blank" href="/doc/connect">Chrome Extension</a>
        </div>
        <div>
          <a class="" target="_blank" href="/doc/connect">Firefox Extension</a>
        </div>
      </div>
    </div>
  </footer>
</Main>
